body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifß;
}

header {
    display:flex;
    flex-direction: column;
    justify-content: center;
    border: 5px;
    border-radius: 2px;
    align-items:center;
    font:#ba9481;
    border-color: #ba9481;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

h1 {
    font-style: normal;
    color:#ba9481;
    
}

p {
    font-style:normal;
    font:#ba9481;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.calculate {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-style: solid;
    border-color: #ba9481;
    height: 200px;
    
   

}
.infobox  {
    align-self:center;
   
  
}



input {
    color: #1d1a18;
    background-color: olivedrab;
    padding: .15em;
    margin: .5em;
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 2px;

}
.method div {
   
}
option {
    width: 100px;
    height: 50px;
}

#planes  {
 color:olivedrab;
 border-color: olivedrab;
 border-radius: 20%;

 
}